#instafeed
  align-items: center
  box-shadow: 0 0 6px rgba(0, 0, 0, 0.5)
  display: flex
  overflow-x: scroll
  -webkit-align-items: center

  a
    display: inline-block
    height: auto
    min-width: 320px !important
    max-width: 320px !important
