/*
 *= require_tree .
 *= require_self
 */

html, body {
  height: 100%;
}

body {
  background-color:  #eaeaea;
  font-family: 'Spectral', serif;
  line-height: 1.4;
  margin: 0;
  -webkit-font-smoothing: antialiased;
}

/**
 * NOTE: footer height hack
 * Hack to push footer down to bottom of page
 */
main {
  height: auto !important;
  height: 100%;
  min-height: 100%;
  margin-bottom: -208px;
}

/**
 * NOTE: footer height hack
 * Must be the negated value of 'main' margin-bottom
 */
#push {
  height: 208px;
}
